@{
    ViewData["Title"] = "Fale Conosco";
}
<p>

</p>
<h4 class="text-center mt-3">Fale Conosco</h4>
<hr />
<br>
<p>

    <div class="text-center"><h3>Para comunicação direta, utilize o Canal abaixo:</h3>

        
    <div class="qrcode">
        <img src="~/image/qrcode.jpeg">
    </div>


  
