@{
    ViewData["Title"] = "Página Inicial";
}


<div id="slider" class="carroselTeste">
    <img src="./image/s1.jpg" alt="Image1">
    <img src="./image/s2.jpg" alt="Image2">
    <img src="./image/s3.jpg" alt="Image3">
</div>


<script src="~/js/carroussel.js"></script>
